body {
  font-family: "Roboto", sans-serif;
}

.weather-app {
  position: relative;
  display: block;
  max-width: 500px;
  min-height: 400px;
  margin: 60px auto;
  padding: 40px;
  border-radius: 10px;
  background-image: url("./media/bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
