.header-container {
  display: block;
  margin: 0 auto;
}

.search-input,
.search-button {
  background-color: #eaedf2;
  color: #413283;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 8px;
}

.search-input {
  width: 65%;
}

::placeholder {
  color: #413283;
  opacity: 0.5;
}

.search-button {
  margin-left: 20px;
  width: 18%;
}

.current-temperature {
  font-size: 30px;
}

.current-weather {
  color: rgb(175, 171, 171);
  display: flex;
  justify-content: space-between;
  font-family: "Encode Sans", sans-serif;
  font-weight: 500;
}

.current-city {
  font-size: 25px;
  font-weight: 900;
  font-family: "Courgette", cursive;
  letter-spacing: 2px;
}

.current-date {
  font-size: 12px;
}

.current-details {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-temperature-icon canvas {
  position: relative;
}

.current-temperature-value {
  position: relative;
  font-size: 50px;
  font-weight: bold;
  top: -35px;
  left: 40px;
}

.current-temperature-unit {
  font-size: 14px;
  position: relative;
  top: -60px;
  left: 40px;
  text-decoration: none;
  color: rgb(175, 171, 171);
}
